# Server
PORT=3001
FRONTEND_URL=http://localhost:5173

# Supabase
SUPABASE_URL=https://wjmekfijekegmmglppem.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqbWVrZmlqZWtlZ21tZ2xwcGVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjczMTk3MiwiZXhwIjoyMDkyMzA3OTcyfQ.3M9_aTt1n7uEwuOP_F5GBQ0qoG4NgeUJRjm3zR2kwUo
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqbWVrZmlqZWtlZ21tZ2xwcGVtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjczMTk3MiwiZXhwIjoyMDkyMzA3OTcyfQ.3M9_aTt1n7uEwuOP_F5GBQ0qoG4NgeUJRjm3zR2kwUo

# Auth
JWT_SECRET=569BkXUU7OfGih9GbuM23on1dP20/Weku2Ya4pbNlvxxbRxout7vASV6gWqwcC4bgZmHRNvEJecqr+9cPYn6jA==

# OpenAI
OPENAI_API_KEY=sk-...

# Stripe
STRIPE_SECRET_KEY=sk_test_51TOSXlD6FvIEJU6RPPSEa9STGzHPzuJl4h7ctUp2j7vdxlCx4wuXYypHcKu6n1bA2zogLM0PCYsZ3BDV5vyfPIvo00DBxtXq3p
STRIPE_PRO_PRICE_ID=price_1TOSc8D6FvIEJU6ROGfcCs1D
STRIPE_WEBHOOK_SECRET=whsec_Tx0VUqvi2KmUYDXtavj8ar6ONao0ekjp
